/Final Project Tester/.vs/
/Final Project Tester/Final Project Tester/bin
/Final Project Tester/Final Project Tester/obj
/Final Project Tester/Final Project Tester/Final Project Tester.csproj
/Final Project Tester/Ch10FiveCardClient/bin
/Final Project Tester/Ch10FiveCardClient/obj
/Final Project Tester/Ch10FiveCardClient/Properties
/Final Project Tester/Ch10FiveCardClient/App.config
/Final Project Tester/Ch10FiveCardClient/Ch10FiveCardClient.csproj
/Final Project Tester/Ch10CardLib/.vs/
/Final Project Tester/Ch10CardLib/Ch10CardLib/bin
/Final Project Tester/Ch10CardLib/Ch10CardLib/obj
/Final Project Tester/Ch10CardLib/Ch10CardLib/Properties
/Final Project Tester/Ch10CardLib/Ch10CardLib/Ch10CardLib.csproj
/Final Project Tester/Ch10CardClient/bin
/Final Project Tester/Ch10CardClient/obj
/Final Project Tester/Ch10CardClient/Properties
/Final Project Tester/Ch10CardClient/App.config
/Final Project Tester/Ch10CardClient/Ch10CardClient.csproj